#define ETH_P_IP	0x0800

{
	eth(daddr=##DnsQueryFloodSampler.dmac, saddr=##DnsQueryFloodSampler.smacTG, proto=ETH_P_IP),
	ipv4(ttl=64, ver=4, flags=0, frag=0, df, da=##DnsQueryFloodSampler.targetIP, sa=##DnsQueryFloodSampler.sourceIPTG),
	udp(sport=##DnsQueryFloodSampler.sourcePortTG, dport=##DnsQueryFloodSampler.dPort),

/*DNS header*/
drnd(2), /*ID (randomized)*/
const16(0x0100), /*Flags RD=1*/
const16(1),  /*Question count*/
const16(0), /*Answer count*/
const16(0), /*Authority count*/
const16(1), /*Additional count*/

/*DNS question section*/
##DnsQueryFloodSampler.queryTG
0x00, /*Question name*/
const16(1), /*Question type A, 28 - AAAA*/
const16(1) /*Question class IN*/

/*DNS additional section*/
0x00, /* "." */
const16(41), /*OPT*/
const16(4096), /*UDP payload size*/
0x00, /*Extended RCODE*/
0x00, /*EDNS version*/
0x00, 0x00, /*Z*/
const16(0)  /*Data length*/
}